<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.home.mapper.MemberMapper">

	<resultMap type="com.spring.home.domain.MemberVO" id="memberMap">
		<id property="id" column="id"/>
		<result property="id" column="id"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="telNum" column="telNum"/>
		<result property="email" column="email"/>
		<collection property="authority" resultMap="authMap"/>
	</resultMap>

	<resultMap type="com.spring.home.domain.AuthVO" id="authMap">
		<result property="id" column="id"/>
		<result property="authority" column="authority"/>
	</resultMap>

	<select id="read" resultMap="memberMap">
		select mem.id,password,name,telNum,email,authority
		from USER_TAB mem left outer join AUTH_TAB auth on mem.id = auth.id
		where mem.id=#{id}	
	</select>

</mapper>











