<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.od.mapper.DocMapper">
	<!-- 공문 작성 -->
	<insert id="owrite">
		INSERT INTO DOC_TAB (docNum,title,contents,authority,retentDate,send,dest,state,storage,message,regDate)
		VALUES(docNum.NEXTVAL,#{title},#{contents},(select authority from auth_tab where id = #{send}),#{retentDate},#{send},#{dest},#{state},#{storage},#{message},SYSDATE)
	</insert>
	<update id="omodify">
		UPDATE DOC_TAB SET title = #{title}, contents = #{contents}, retentDate = #{retentDate}, dest = #{dest}, state = #{state}, storage = #{storage}, regDate = SYSDATE
		WHERE docNum = #{docNum}
	</update>
	<!-- 공문 결재/반려 -->
	<update id="oreturned">
		UPDATE DOC_TAB SET state = #{state}, message = #{message}
		WHERE docNum = #{docNum}
	</update>
	<update id="oapprove">
		UPDATE DOC_TAB SET state = #{state}, message = #{message}, storage = #{storage}
		WHERE docNum = #{docNum}
	</update>
	<delete id="oremove">
		DELETE FROM DOC_TAB WHERE docNum = #{docNum}
	</delete>
	<!-- 공문 보기 화면 -->
	<select id="oread" resultType="com.spring.od.domain.OfficeNoticeVO">
		SELECT * FROM DOC_TAB WHERE docNum = #{docNum}
	</select>
</mapper>