<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.od.mapper.DocMainMapper">

<!-- 미결 -->
<select id ="mainwaitlist" resultType="com.spring.od.domain.StorageListVO">
	select rownum rn,docNum,title,name,deptNum,state,regDate
	from (select docNum,title,U.name name,D1.deptNum deptNum,state,regDate 
		from DOC_TAB D1
		inner join USER_TAB U
		on D1.send = U.id
		inner join DM_TAB D2
		on D2.deptNum = U.deptNum
		where D1.storage = '미결'
		order by regDate asc)
	where rownum between 0 and 11 order by rn desc
</select>


<!-- 완료 -->
<select id ="maincompletelist" resultType="com.spring.od.domain.StorageListVO">
	select rownum rn,docNum,title,name,deptNum,state,regDate
	from (select docNum,title,U.name name,D1.deptNum deptNum,state,regDate 
		from DOC_TAB D1
		inner join USER_TAB U
		on D1.send = U.id
		inner join DM_TAB D2
		on D2.deptNum = U.deptNum
		where D1.storage = '완결'
		order by regDate asc)
	where rownum between 0 and 4 order by rn desc
</select>


<!-- 임시 -->
<select id ="maintemplist" resultType="com.spring.od.domain.StorageListVO">
	select rownum rn,docNum,title,id,name,regDate
	from (select docNum,title,U.id id,U.name name,regDate
		from DOC_TAB D1
		inner join USER_TAB U
		on D1.send = U.id
		inner join DM_TAB D2
		on D2.deptNum = U.deptNum
		where D1.storage = '임시'
		order by regDate asc)
	where rownum between 0 and 4 order by rn desc

</select>


<!-- 검색 -->
<select id = "mainsearchlist" resultType="com.spring.od.domain.StorageListVO">
select * from( 
select rownum rn, docNum,title,state,U.deptNum,regDate,storage
from DOC_TAB D1
inner join USER_TAB U
on D1.send = U.id
inner join DM_TAB D2
on D2.deptNum = U.deptNum
where title like '%'||#{keyword}||'%'
<![CDATA[ and rownum <= (#{pageNum}*#{amount}))
where rn > ((#{pageNum}-1)*#{amount})]]>
</select>
	
<select id="odmaintotalcnt" resultType="int">
		select count(*) from DOC_TAB 
		where docNum>0
	</select>

</mapper>