<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.od.mapper.DocMainMapper">

<!-- 미결 -->
<select  id ="mainwaitlist" resultType="com.spring.od.domain.OfficeNoticeVO">
select docNum,title,D2.deptName,U.name,retentDate,regDate
FROM DOC_TAB D1
INNER JOIN USER_TAB U
ON D1.send = U.id
INNER JOIN DM_TAB D2
ON D2.deptNum = U.deptNum
WHERE D1.storage = 'wait' and rowNum = 20
</select>


<!-- 완료 -->
<select  id ="mainsuccesslist" resultType="com.spring.od.domain.OfficeNoticeVO">
select docNum,title,D2.deptName,U.name,retentDate,regDate
FROM DOC_TAB D1
INNER JOIN USER_TAB U
ON D1.send = U.id
INNER JOIN DM_TAB D2
ON D2.deptNum = U.deptNum
WHERE D1.storage = 'success' and rowNum = 10
</select>


<!-- 임시 -->
<select  id ="maintemplist" resultType="com.spring.od.domain.OfficeNoticeVO">
select docNum,title,D2.deptName,U.name,retentDate,regDate
FROM DOC_TAB D1
INNER JOIN USER_TAB U
ON D1.send = U.id
INNER JOIN DM_TAB D2
ON D2.deptNum = U.deptNum
WHERE D1.storage = 'temp' and rowNum = 10
</select>


<!-- 검색 -->
<select id = "mainsearchlist" resultType="com.spring.od.domain.OfficeNoticeVO">
select docNum,title,state,storage from DOC_TAB
where 
<if test="criteria=='title'.toString()">
title like '%'||#(keyword)||'%'
</if>
</select>

</mapper>