<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.od.mapper.StorageMapper">
<select id="waitList" resultType="com.spring.od.domain.StorageListVO">
	<![CDATA[
	select * from (
		select /*+INDEX_DESC(doc_tab PK_DOC_TAB)*/ 
		rownum rn,docNum,title,state,U.deptNum,D2.deptName,U.name,regDate,retentDate
		from doc_tab D1
		inner join User_TAB U
		on D1.send = U.id
		inner join DM_TAB D2
		on D2.deptNum = U.deptNum 
		where D1.storage = '미결' AND
		
		]]> 
		<include refid="criteria"></include>
		<![CDATA[ 
				rownum <= (#{pageNum}*#{amount}))
				where rn > ((#{pageNum}-1)*#{amount})
		]]>
</select>

<select id="completeList" resultType="com.spring.od.domain.StorageListVO">
	<![CDATA[
	select * from (
		select /*+INDEX_DESC(doc_tab PK_DOC_TAB)*/ 
		rownum rn,docNum,title,U.deptNum,D2.deptName,U.name,regDate
		from doc_tab D1
		inner join User_TAB U
		on D1.send = U.id
		inner join DM_TAB D2
		on D2.deptNum = U.deptNum
		where D1.storage = '완결' AND
		
		]]> 
		<include refid="criteria"></include>
		<![CDATA[ 
			rownum <= (#{pageNum}*#{amount}))
			where rn > ((#{pageNum}-1)*#{amount})
		]]>
</select>

<select id="tempList" resultType="com.spring.od.domain.StorageListVO">
<![CDATA[
	select * from (
		select /*+INDEX_DESC(doc_tab PK_DOC_TAB)*/ 
		rownum rn,docNum,title,U.id,D2.deptName,U.name,regDate
		from doc_tab D1
		inner join User_TAB U
		on D1.send = U.id
		inner join DM_TAB D2
		on D2.deptNum = U.deptNum
		where D1.storage = '임시' AND
		]]> 
		<include refid="criteria"></include>
		<![CDATA[ 
			rownum <= (#{pageNum}*#{amount}))
			where rn > ((#{pageNum}-1)*#{amount})
		]]>
</select>



<select id="totalCnt" resultType="int">
	select count(*) from doc_tab 
	where <![CDATA[docNum>0]]>
</select>
<sql id="criteria">
		<trim prefix="(" suffix=") AND">
					<choose>
						<when test="type=='T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type=='U'.toString()">
							U.name like '%'||#{keyword}||'%'
						</when>
					</choose>
		</trim>
	</sql>
</mapper>