<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.BoardMapper">

<!-- 게시판 게시물 -->

	<!-- 삽입 : bno,nickname,title,contents,password,view 이며 bno의 경우 board_tb_seq 값으로 삽입 (insert)-->
	<insert id="boardinsert">
		<!-- 주로 pk 값을 미리 SQL 쿼리문을 통해서 처리해 두고 특정한 이름으로 결과를 보관 -->
		<!--  순서 -->
		<selectKey keyProperty="bno" order="BEFORE" resultType="int">
			select board_tb_seq.nextval from dual		
		</selectKey>	
		insert into board_table(bno,nickname,title, views, password, contents)
		values(#{bno},#{nickname},#{title},#{content},#{views},#{password},#{contents})
	</insert>
	
	<!-- 삭제 : bno,password가 일치하면 삭제(delete) -->
	<delete id="boarddelete">
		delete from board_table where bno=#{bno} and password=#{password}	
	</delete>
	
	
	<!-- 수정 : title,contents,uploaddate 가 일치시(update) -->
	<update id="boardupdate">
		update board_table
		set title=#{title},contents=#{contents},uploaddate=sysdate
		where bno=#{bno} and password=#{password}
	</update>
	
	
	<!-- 페이지 나누기 적용 -->
	<select id="boardlist" resultType="com.spring.board.domain.BoardVO">
		<![CDATA[
				select *
				from(select /*+INDEX_DESC(board_table board_tb_seq)*/
				          rownum rn,bno,nickname,title, contents, uploaddate, views
				     from board_table
				     where 
		]]>		
		
		<include refid="criteria"></include>
		     
		<![CDATA[		     
				     
				     rownum <= (#{pageNum}*#{amount}))
				where rn > ((#{pageNum}-1)*#{amount})		
		]]>	
	</select>
	
	<!-- 전체 게시물 수 (검색)-->
	<select id="boardtotalCnt" resultType="int">
		select count(*) from board_table 
		where
		
		<include refid="boardcommentcriteria"></include>
		
		 bno>0
	</select>
	
		
	<!-- 특정번호 조회 : bno에 해당하는 게시물 가져오기(read) -->
	<select id="boardread" resultType="com.spring.board.domain.BoardVO">
		select * from board_table where bno=#{bno}
	</select>
	
	
	<!-- 댓글 숫자 수정 : 댓글의 삽입 or 댓글 삭제 시 -->
	<update id="boardcommentCntUpdate">
		update board_table set bcommentcnt = bcommentcnt+ #{amount}
		where bno=#{bno}
	</update>
	
	
	
	
	
	<!-- 동적 SQL -->
	<!-- 제목, 내용 검색 -->
	<sql id="boardcommentcriteria">
		<trim prefix="(" suffix=") AND"  prefixOverrides="OR" >
			<foreach collection="typeArr" item='type'>
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString()">
							contents like '%'||#{keyword}||'%'
						</when>					
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	











</mapper>