<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.BoardEventAttachMapper">

<!-- 스페셜 : 파일첨부 -->

	<!-- 파일insert : 이벤트,동호회-->
	<insert id="beinsert">
		insert into special_attach(uuid,uploadpath,filename,filetype,sno)
		values(#{uuid},#{uploadpath},#{filename},#{filetype},#{sno})
	</insert>
	
	<!-- 파일찾기 -->
	<select id="befindsno">
		select * from special_attach where sno= #{sno} 
	</select>

	
	<!-- 파일삭제  -->
	<delete id="bedelete">
		delete from special_attach where sno=#{sno} 
	</delete>
	
	

</mapper>