<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.BoardSpecialMapper">

<!-- 스페셜 :  -->

	<!-- insert : 이벤트,동호회-->
	<insert id="bspecialinsert">
		insert into special_table(sno,writer,title, password, contents,images,boardname)
		values(special_tb_seq.nextval,#{writer},#{title},#{password},#{images},#{contents},#{boardname})
	</insert>
		
	<!--  하나 가져오기  : sno 가 일치-->
	<select id="bspecialread" resultType="com.spring.board.domain.BoardSpecialVO">
		select * from special_table where sno=#{sno}
	</select>
	
	<!--  수정 : 댓글 내용만 수정, updatedate, sno 일치하면 -->
	<update id="bspecialupdate">
		update special_table
		set contents=#{contents}, uploaddate=sysdate
		where sno=#{sno}
	</update>
	
	<!-- 댓글 삭제 : rno, password 일치 -->
	<delete id="bspecialdelete">
		delete from special_table where sno=#{sno} and password=#{password}
	</delete>
	
	<!-- 댓글 페이지 처리 -->
	<select id="bspeciallist" resultType="com.spring.board.domain.BoardSpecialVO">
		<![CDATA[	
			select sno,writer,title, password, contents,images,boardnameuploaddate
			from(
					select /*+INDEX(comment_table idx_comment)*/
					       rownum rn, sno,writer,title, password, contents,images,boardname,uploaddate
					from special_table
					where sno=#{sno} and sno > 0 and rownum <= #{cri.pageNum} * #{cri.amount}		
			     )
			where rn > (#{cri.pageNum}-1) * #{cri.amount}		
		]]>
	</select>
	
	<!-- 하나의 글번호에 대한 전체 댓글 게시물 수 -->
	<select id="bspecialCountByBno" resultType="int">
		select count(*) from special_table where sno=#{sno}	
	</select>
	
	<delete id="bspecialdeleteAll">
		delete from special_table where sno=#{sno}	
	</delete>

	


</mapper>