<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.BoardHobbyAttachMapper">

<!-- 동호회 : 파일첨부 -->

	<!-- 파일insert : 이벤트,동호회-->
	<insert id="bhinsert">
		insert into hobby_table(uuid,uploadpath,filename,filetype,sno,seltable)
		values(#{uuid},#{uploadpath},#{filename},#{filetype},#{hno},'h')
	</insert>
	
	<!-- 파일찾기 -->
	<select id="bhfindsno">
		select * from hobby_table where sno= #{hno} and seltable = 'h'
	</select>

	
	<!-- 파일삭제  -->
	<delete id="bhdelete">
		delete from hobby_table where sno=#{hno} and seltable = 'h'
	</delete>
	
	

</mapper>