<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.BoardHobbyMapper">

<!-- 동호회 :  -->

	<!-- insert : 동호회-->
	<insert id="bhinsert">
		<selectKey keyProperty="hno" order="BEFORE" resultType="int">
			select hobby_tb_seq.nextval from dual		
		</selectKey>
		insert into hobby_table(hno,hwriter,htitle, hpassword, hcontents,hviews)
		values(#{hno},#{hwriter},#{htitle},#{hpassword},#{hcontents},#{hviews})
	</insert>
	
	<!--  하나 가져오기  : hno 가 일치-->
	<select id="bhread" resultType="com.spring.board.domain.BoardHobbyVO">
		select * from hobby_table where hno=#{hno}
	</select>
	
	<!--  수정 :  내용만 수정, updatedate, hno 일치하면 -->
	<update id="bhupdate">
		update hobby_table
		set hcontents=#{hcontents}, huploaddate=sysdate
		where hno=#{hno} 
	</update>
	
	<!-- 암호화  -->
	<select id="bhsalt"  resultType="com.spring.board.domain.BoardHobbyVO">
		select hpassword from hobby_table where hno=#{hno}
	</select>
	
	
	<!-- 삭제 : hno, password 일치 -->
	<delete id="bhdelete">
		delete from hobby_table where hno=#{hno} 
	</delete>
	
	<!-- 관리자 삭제 : bno,password가 일치하면 삭제(delete) -->
	<delete id="bhaddelete">
		delete from hobby_table where hno=#{hno} 	
	</delete>
	
	<!-- 페이지 나누기 적용 -->
	<select id="bhlist" resultType="com.spring.board.domain.BoardHobbyVO">
		<![CDATA[
				select *
				from(select /*+INDEX_DESC(hobby_table hobby_tb_seq)*/
				          rownum rn,hno,hwriter,htitle,hcontents,huploaddate, hviews
				     from hobby_table
				     where 
		]]>		
		
		<include refid="boardcommentcriteria"></include>
		     
		<![CDATA[		     
				     
				     rownum <= (#{pageNum}*#{amount}))
				where rn > ((#{pageNum}-1)*#{amount}) order by hno desc			
		]]>	
	</select>
	
	<!-- 전체 게시물 수 (검색)-->
	<select id="bhtotalCnt" resultType="int">
		select count(*) from hobby_table 
		where
		
		<include refid="boardcommentcriteria"></include>
		
		 hno>0
	</select>
	
	<!-- 비밀번호 확인 -->
	<select id="bhcheckpw" resultType="com.spring.board.domain.BoardHobbyVO">
		select hno from hobby_table
		where hno=#{hno} and hpassword=#{hpassword}
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="bhupdateviews">
		update hobby_table set hviews = hviews + 1 where hno = #{hno}
	</update>
	
	
	<!-- 동적 SQL -->
	<!-- 제목, 내용 검색 -->
	<sql id="boardcommentcriteria">
		<trim prefix="(" suffix=") AND"  prefixOverrides="OR" >
			<foreach collection="typeArr" item='type'>
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							htitle like '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString()">
							hcontents like '%'||#{keyword}||'%'
						</when>					
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	

</mapper>